body {
    font-family: 'Glass Antiqua', cursive;
    margin: 0;
    padding: 0;
    background-color: #f5f5dc;
    font-size: 1.2rem;
  }
 
header {
    background-color:white;
    color: black;
    padding: 1em;

 }
  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
nav li {
    margin-right: 1em;
  }
  
nav a {
    color: black;
    text-decoration: none;
  }

nav a:hover {
    color: red;
}  

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

main {
    padding: 0em;
  }

h1{
    font-size: 1.5em;
    margin: 0;
    padding: 0;
  }
  
section {
    margin-bottom: 0em;
    line-height: 1.7;
  }
 
.about-section {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.about-section a {
  color: white;
  text-decoration: underline;
}

.about-section a:hover {
  color: red;
}

.about-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height:calc(100%-60px);

}

.about-text {
    color: white;
    text-align: center;
    width: 30%;
    margin-left: 35%;
}

#skills {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
.skills-container {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.skills-container img {
    width: 80px;
    height: 80px;
    margin: 1em;

}
.skills-header {
  display:inline;
  text-align: left;
}

.project-container {
        height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
  }
  
.project-card {
    width: 30%;

    text-align: center;
  }
  
.project-card img {
    width: 100%;
  }

.project-card img {
    max-height: 150px;
    width: auto;
    object-fit: contain;
}

.form-container {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
    width: 30%;
    text-align: left;
    color: white;
    background: black;
  }
    
#about {
    text-align: left;
  }
  
#skills ul {
    list-style-type: square;
  }
  
#projects ul {
    list-style-type: none;
  }
  
#projects li {
    margin-bottom: 0.5em;
  }
  
#contact label {
    display: block;
    margin-bottom: 0.5em;
  }
  
#contact input[type="text"], #contact input[type="email"], #contact textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
  }
  
footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 1em;
  }
  
@media only screen and (max-width: 600px) {
    img {
        max-width: 50%;
    }
}
